@model FitPro.BusinessLogic.ChangePasswordModel
@inject FitPro.Common.DTOs.CurrentUserDto CurrentUser

<div class="home-container">

    <form asp-action="ChangePassword" asp-controller="Account">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col my-auto">
                <div class="text-center">
                    <div class="display-4">Change Password</div>
                </div>

                <div class="home-container">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <input asp-for="OldPassword" type="password" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn brown-btn" />
                    </div>

                    <div class="text-center">
                        @if (CurrentUser.Role == "Regular")
                        {

                            <a asp-controller="Account" asp-action="EditRegularProfile" asp-route-userId="@CurrentUser.Id"><div class="crem-text">Back to MyProfile.</div></a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="EditSpecialProfile" asp-route-userId="@CurrentUser.Id"><div class="crem-text">Back to MyProfile.</div></a>
                        }
                        <a asp-controller="Home" asp-action="Index"><div class="brown-text">Back to home.</div></a>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="float-right">
                    <div class="brown-container">
                        <img src="https://i.pinimg.com/564x/6c/fa/41/6cfa411fee9c1bef596bc718792d540e.jpg" id="login-image" />"
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>