@model FitPro.BusinessLogic.RegularRegisterModel
@inject FitPro.Entities.DropDowns DropDown


<div class="register-container">
    <img src="~/image/food1.jpg" style="width:20rem; height:25rem" />
    <img src="~/image/yoga.jpg" style="width:20rem; height:25rem" />
    <img src="~/image/food2.jpg" style="width:20rem; height:25rem" />
</div>



<div class="text-center">
    <div class="display-4">Register</div>
</div>

<div class="home-container">
    <div class="row">
        <div class="col text-center">
            <h4>These fields are required.</h4>
        </div>

        <div class="col text-center">
            <h4>These fields are nice to have for reliable FitProPrograms.</h4>
        </div>
    </div>

    <form asp-action="Register" asp-controller="Account">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="BirthDay" class="control-label"></label>
                    <input asp-for="BirthDay" class="form-control" />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label">Weight (Kg)</label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Height" class="control-label">Height (Cm)</label>
                    <input asp-for="Height" class="form-control" type="number" />
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenderId" class="control-label"></label>
                    <select asp-for="GenderId" class="form-control" asp-items="@DropDown.Genders">
                    </select>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Register" class="btn brown-btn" />
        </div>
    </form>
</div>