@model FitPro.BusinessLogic.ResetForgotPasswordModel


<div class="home-container">

    <form asp-action="ChangePassword" asp-controller="Account">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col my-auto">
                <div class="text-center">
                    <div class="display-4">Reset Password</div>
                </div>

                <div class="home-container">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">New password</label>
                        <input asp-for="Password" class="form-control" readonly/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="float-right">
                    <div class="brown-container">
                        <img src="https://i.pinimg.com/564x/6c/fa/41/6cfa411fee9c1bef596bc718792d540e.jpg" id="login-image" />"
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>