@model FitPro.BusinessLogic.EditAlimentModel
@inject FitPro.Common.DTOs.CurrentUserDto CurrentUser

<div class="container home-container">
    <div class="row">

        <div class="col my-auto">
            <div class="text-center">
                <div class="display-4">Edit Aliment</div>
            </div>


            <form asp-action="EditAliment" asp-controller="Nutritionist" asp-route-nutritionistId="@CurrentUser.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calories" class="control-label"></label>
                    <input asp-for="Calories" class="form-control" />
                    <span asp-validation-for="Calories" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Protein" class="control-label"></label>
                    <input asp-for="Protein" class="form-control" />
                    <span asp-validation-for="Protein" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fat" class="control-label"></label>
                    <input asp-for="Fat" class="form-control" />
                    <span asp-validation-for="Fat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Carbo" class="control-label"></label>
                    <input asp-for="Carbo" class="form-control" />
                    <span asp-validation-for="Carbo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NutritionistPassword" class="control-label"></label>
                    <input asp-for="NutritionistPassword" type="password" class="form-control" />
                    <span asp-validation-for="NutritionistPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit Aliment" class="btn brown-btn" />
                </div>
            </form>

            <div class="text-center">
                <a asp-controller="Nutritionist" asp-action="AlimentsList" asp-route-currentPage="1"><div class="crem-text">Back to Alimets List.</div></a>
                <a asp-controller="Home" asp-action="Index"><div class="brown-text">Back to home.</div></a>
            </div>
        </div>

        <div class="col">
            <div class="float-right">
                <div class="brown-container">
                    <img src="~/image/food1.jpg" id="login-image" />
                </div>
            </div>
        </div>
    </div>
</div>

