@model FitPro.BusinessLogic.CalendarMonthModel
@inject FitPro.Common.DTOs.CurrentUserDto CurrentUser

<div class="container home-container">

    <div class="display-4 text-center">Calendar View</div>
    <div class="display-6 text-center">~@Model.Month @Model.Year~</div>
</div>